.weather__card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    background-color: #8888;
    padding: 20px;
    border-radius: 20px;
    width: 80%;
    height: 80%;
    max-width: 550px;
}

.weather__place {
    font-size: 1.25rem;
}
.weather__container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0 50px;
    flex-wrap: wrap;
}

.weather__desription {
    margin: 15px 0;
    text-align: center;
}
.weather__item {
    display: grid;
    grid-template-columns: 5fr 4fr;
    gap: 10px;
}

.Btn {
    border-radius: 10px;
    border: none;
    padding: 5px 10px;
    background-color: rgba(127, 255, 212, 0.596);
  }

  .Btn:hover {
    background-color: white;
    transform: scale(1.1);
    transition: transform .5s;
  }